.menu-container {
  display: flex;
  align-items: center;
  justify-content: end;
  background: #ffffff;
  /* border: 1px solid #dcdcdc;
  padding: 8px 0; */
  overflow-x: auto;
  white-space: nowrap;
  margin-right: 165px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 1px 38px 0px 20px;
  margin: 3px 2px 5px;
  border: 1px solid #004085;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  padding-left:4px;
  padding-bottom: 2px;
}

.menu-item:last-child {
  border-right: 1px solid #004085;
}
.menu-item:first-child {
  border:none;
  padding-right:0px;
}

.menu-item:hover {
  background-color: #f0f6ff;
}

.menu-image {
  width: 26px;
  height: 26px;
  /* object-fit: contain; */
  margin-right: 8px;
}

.menu-text {
  font-size: 12px;
  color: #004085; /* SBI blue */
  font-weight: 500;
}