.sidebar-container {
  width: 254px;
  background: white;
  border-right: 1px solid #ccc;
  margin-top: 17px;
    box-shadow: 2px 7px 10px 2px lightgray;
    margin-left: 5px;
}
.sidebar-item{
    border-bottom: 1px solid darkgray;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-size: 14px;
    font-weight: 500;
}
